<section class="create" style="margin-top:60px;">
  <div class="cont">
    <div class="row">
      <div class="col norm-1 tab-4 mob-4">
        <div class="side-menu">
          <a id="ca-tv" href="javascript:treeView(document.getElementById('ca-tv'))">Create article</a>
          <div class="drop-down">
            <a href="javascript:loadPartial('partials/user/create.html')">Regular article</a>
            <a href="javascript:loadPartial('partials/user/create.html')">Code article</a>
          </div>
          <a href="javascript:loadPartial('partials/user/article.html')">Random article</a>
          <a href="javascript:loadPartial('partials/landing/index.html')">Log out</a>
        </div>
      </div>
      <div class="col norm-3 tab-4 mob-4" style="padding-top:15px;padding-bottom:15px;">
        <form action="" method="post">
          <label class="move-left mb5">Article title:</label>
          <input type="text" id="content-title" class="form-el form-input fill-up mb15" name="e-mail" placeholder="Enter article title (recommended: 70-100 characters)" />
          <span class="error-text"></span>
            <div class="clearfix"></div>

          <label class="move-left mb5">Brief description:</label>
          <textarea id="content-description"  class="form-el form-input fill-up mb15" name="description" placeholder="Brief description about the article" style="height:80px;"></textarea>
          <span class="error-text"></span>
            <div class="clearfix"></div>

          <label class="move-left mb5">Knowledge base:</label>
          <select id="content-kb" class="form-el form-select fill-up mb15" name="kb">
            <option value="0" disabled selected="">Select knowledge base</option>
            <option value="1">Dummy KB Library</option>
            <option value="2">Public library</option>
          </select>
          <span class="error-text"></span>
            <div class="clearfix"></div>

          <label class="move-left mb5">Category/Section:</label>
          <select id="content-category" class="form-el form-select fill-up mb15" name="category">
            <option value="0" disabled selected="">Select desired section:</option>
            <option value="1">Web development</option>
            <option value="2">Web design</option>
            <option value="3">Fund raising</option>
            <option value="4">Marketing</option>
            <option value="5">Social media</option>
          </select>
          <span class="error-text"></span>
            <div class="clearfix"></div>

          <label class="move-left mb5">Content:</label>
          <textarea id="content-body" class="form-el form-input fill-up mb15" name="content" placeholder="Brief description about the article" style="height:200px;"></textarea>
          <span class="error-text"></span>
            <div class="clearfix"></div>


          <input type="submit" value="Save and publish" onclick="validateCreate()" class="btn btn-green move-right wtm stmr0"/>
          <a href="#" class="btn btn-white move-right mr15 stmr0 wtm">Save as draft</a>
        </form>
      </div>
    </div>
  </div>
</section>
  <div class="clearfix"></div>
