<section class="cover">
  <!-- Part 1 -->
  <div id="car-holder" class="carousel-holder">
    <div id="part-1" class="carousel-slide">
      <div class="cont">
        <div class="row">
          <div class="col norm-2 tab-4 mob-4">
            <div style="margin-top:30px;">
              <img src="img/startoff.png" style="width:100%;"/>
            </div>
          </div>

          <div class="col norm-2 tab-4 mob-4 rsidecov">
            <div class="distance-top">
              <h2>Share knowledge with those who care!</h2>
            </div>
            <span class="description">
              Knowledge base system for non-govermental organisations, small and big companies and individuals. Because we care about the informations that you want to share.
            </span>
              <div class="clearfix"></div>
            <a href="javascript:loadPartial('partials/user/create.html')" class="btn btn-blue mr15 stmr0 wtm">Try for free</a>
            <a href="javascript:loadPartial('partials/landing/pricing.html')" class="btn btn-green wtm">Pricing</a>
          </div>

          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>

    <!-- Part 2 -->
    <div id="part-2" class="carousel-slide">
      <div class="cont">
        <div class="row">
          <div class="col norm-2 tab-4 mob-4">
            <div style="margin-top:30px;">
              <img src="img/startoff.png" style="width:100%;"/>
            </div>
          </div>

          <div class="col norm-2 tab-4 mob-4 rsidecov">
            <div class="distance-top">
              <h2>Develope culture driven knowledge!</h2>
            </div>
            <span class="description">
              Every organisation has it's own culture. Norms set by the organisation are the only relevant factor in the process of developing your knowledge base.
            </span>
              <div class="clearfix"></div>
            <a href="javascript:loadPartial('partials/user/create.html')" class="btn btn-blue mr15 stmr0 wtm">Try for free</a>
            <a href="javascript:loadPartial('partials/landing/pricing.html')" class="btn btn-green wtm">Pricing</a>
          </div>

          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>

    <!-- Part 3 -->
    <div id="part-3" class="carousel-slide">
      <div class="cont">
        <div class="row">
          <div class="col norm-2 tab-4 mob-4">
            <div style="margin-top:30px;">
              <img src="img/startoff.png" style="width:100%;"/>
            </div>
          </div>

          <div class="col norm-2 tab-4 mob-4 rsidecov">
            <div class="distance-top">
              <h2>Share knowledge with those who care!</h2>
            </div>
            <span class="description">
              Knowledge base system for non-govermental organisations, small and big companies and individuals. Because we care about the informations that you want to share.
            </span>
              <div class="clearfix"></div>
            <a href="javascript:loadPartial('partials/user/create.html')" class="btn btn-blue mr15 stmr0 wtm">Try for free</a>
            <a href="javascript:loadPartial('partials/landing/pricing.html')" class="btn btn-green wtm">Pricing</a>
          </div>

          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

</section>
  <div class="clearfix"></div>


<section class="line-info">
  <div class="cont">
    <div class="row">
      <div class="col norm-4">
        "An investment in knowledge always pays the best interest."
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</section>
  <div class="clearfix"></div>


<section class="info-part">
  <div class="cont">
    <div class="row">
      <div class="col norm-2 tab-4 mob-4">
        <h2>What is VRocketLibrary?</h2>
          <hr/>
        <span class="det">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu dictum odio. Integer non orci auctor, blandit nisi sit amet, malesuada tortor. Praesent fermentum lorem ut erat volutpat, eget iaculis ligula hendrerit. Nullam eu finibus metus, at ornare nibh. Integer placerat ullamcorper orci a cursus. Nunc fermentum purus lectus, quis accumsan arcu pellentesque quis. Vestibulum tincidunt, eros vitae molestie suscipit, nibh leo auctor nisi, id ornare metus augue in dui. Etiam luctus mattis nisl, id dictum quam ultricies sed. Quisque a tempus nunc, quis consectetur orci. Fusce at tortor tincidunt, cursus sem non, sagittis magna. Donec feugiat mi ut diam tincidunt molestie.
        </span>
      </div>
      <div class="col norm-2 tab-4 mob-4">
        <h2>Why should I use it?</h2>
          <hr/>
        <span class="det">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu dictum odio. Integer non orci auctor, blandit nisi sit amet, malesuada tortor. Praesent fermentum lorem ut erat volutpat, eget iaculis ligula hendrerit. Nullam eu finibus metus, at ornare nibh. Integer placerat ullamcorper orci a cursus. Nunc fermentum purus lectus, quis accumsan arcu pellentesque quis. Vestibulum tincidunt, eros vitae molestie suscipit, nibh leo auctor nisi, id ornare metus augue in dui. Etiam luctus mattis nisl, id dictum quam ultricies sed. Quisque a tempus nunc, quis consectetur orci. Fusce at tortor tincidunt, cursus sem non, sagittis magna. Donec feugiat mi ut diam tincidunt molestie.
        </span>
      </div>
    </div>
  </div>
</section>
  <div class="clearfix"></div>
