<section class="line-info" style="margin-top:60px;">
  <div class="cont">
    <div class="row">
      <div class="col norm-4">
        "There are only two mistakes one can make along the road to truth; not going all the way, and not <b>starting</b>."
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</section>
  <div class="clearfix"></div>


<section class="info-part">
  <div class="cont">
    <div class="row">
      <div class="col norm-2 tab-4 mob-4">
        <h2>First time astronaut? Register!</h2>
          <hr/>
        <div class="det">
          <form action="" method="post">
            <label class="move-left mb5">E-mail:</label>
            <input type="text" id="register-email" class="form-el form-input fill-up mb15" name="e-mail" placeholder="Enter your e-mail adress" />
            <span class="error-text"></span>
              <div class="clearfix"></div>

            <label class="move-left mb5">Password:</label>
            <input type="password" id="register-pass" class="form-el form-input fill-up mb15" name="password" placeholder="Enter your password" />
            <span class="error-text"></span>
              <div class="clearfix"></div>

            <label class="move-left mb5">Repeat password:</label>
            <input type="password" id="register-pass-repeat" class="form-el form-input fill-up mb15" name="rpassword" placeholder="Repeat your password" />
            <span class="error-text"></span>
              <div class="clearfix"></div>

            <label class="move-left mb5">Organisation/Company name:</label>
            <input type="text" id="register-organisation" class="form-el form-input fill-up mb15" name="name" placeholder="Enter your organisation/company name" />
            <span class="error-text"></span>
              <div class="clearfix"></div>

            <input type="submit" onclick="validateRegister()" class="btn btn-green move-right wtm" value="Register" />
          </form>
        </div>
      </div>
      <div class="col norm-2 tab-4 mob-4">
        <h2>Ahoy capitan! Nice to see you again!</h2>
          <hr/>
        <div class="det">
          <form action="" method="post">
            <label class="move-left mb5">E-mail:</label>
            <input type="text" id="login-email" class="form-el form-input fill-up mb15 e-mailval" name="e-mail" placeholder="Enter your e-mail adress" />
            <span class="error-text"></span>
              <div class="clearfix"></div>

            <label class="move-left mb5">Password:</label>
            <input type="password" id="login-pass" class="form-el form-input fill-up mb15" name="password" placeholder="Enter your password" />
            <span class="error-text"></span>
              <div class="clearfix"></div>

            <input type="submit" onclick="validateLogin()" class="btn btn-green move-right wtm" value="Login" />
            <a href="#" class="move-right mr15 mt15 wtm" style="display:block;">Forgot password?</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
  <div class="clearfix"></div>
