<section class="line-info" style="margin-top:60px;">
  <div class="cont">
    <div class="row">
      <div class="col norm-4">
        "If you think it's expensive to hire a professional to do the job, wait until you hire an amateur."

      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</section>
  <div class="clearfix"></div>


<section class="info-part">
  <div class="cont">
    <div class="row">
      <div class="col norm-2 tab-4 mob-4">
        <h2>One-user account</h2>
          <hr/>
        <div class="det">
          <div class="price">
            <is>0.99$</is>
            monthly
          </div>
          <ul>
            <li><b>Private</b> knowledge base</li>
            <li>Capacity of <b>100 categories</b></li>
            <li>Capacity of <b>1000 articles</b> per category</li>
            <li><b>Public library</b> access</li>
          </ul>
        </div>
      </div>
      <div class="col norm-2 tab-4 mob-4">
        <h2>Organisation/Company</h2>
          <hr/>
        <div class="det">
          <div class="price">
            <is>9.99$</is>
            monthly
          </div>
          <ul>
            <li>Up to <b>99 users</b></li>
            <li><b>Unlimited</b> number of categories</li>
            <li>Capacity of <b>10000 articles</b> per category</li>
            <li><b>Public library</b> access</li>
            <li><b>Public library</b> search engine</li>
            <li>Implemented collaboration system</li>
            <li>E-mail newsletter - <b>99 mails per week</b></li>
            <li>PDF printout of selected articles</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
  <div class="clearfix"></div>
